header {
    width:1920px; height:60px; padding:0 80px;
    display:flex; justify-content:space-between;
    align-items:center;
    background-color:#000;
}
header h1 {}
header h1 a {}
header h1 a img {}
header .h_left {}
header .h_left a {
    color:#fff;
    margin-right:40px;
    font-size:0.94 rem;
}
header .h_left a:last-child {margin:0;}
header .h_left a em {color:#FF0000;}
header .h_right {}
header .h_right a {margin-right:20px;}
header .h_right a:last-child {margin:0;}
header .h_right a img {}
/* header 끝================================= */
.bnr {}
/* 메인배너 끝=========================== */

main {
    width:100%; margin:0 auto;
}

main .new_wrap {
    width:1500px; margin:160px auto;
    display:flex; justify-content:space-between;
    align-items:center;
}
main .new_wrap .n_left {width:260px; margin-right:130px;}
main .new_wrap .n_left .n_title {}
main .new_wrap .n_left .n_title h2 {font-size:2.50rem; font-weight:700;}
main .new_wrap .n_left .n_title p {
    margin:20px 0 30px 0;
    font-size: 0.94rem; font-weight:500;
}
main .new_wrap .n_left .n_title a {}
main .new_wrap .n_left .n_title a img {}
main .new_wrap .n_left .n_tab {
    display:flex; flex-flow:column nowrap;
    margin-top:123px;
}
main .new_wrap .n_left .n_tab a {
    margin-bottom:20px;
    border-bottom:1px solid #d9d9d9; padding-bottom:12px;
}
main .new_wrap .n_left .n_tab a:last-child {margin:0;}
main .new_wrap .n_left .n_tab .active {
    font-size:1.38rem; font-weight:700;
    border-bottom:1px solid #1C1B1F;
}
/* 스와이퍼시작부분 */
main .new_wrap .new_swiper {width:1110px; height:480px; }
main .new_wrap .new_swiper .swiper-wrapper {}
main .new_wrap .new_swiper .swiper-wrapper {}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide {
    display:flex; justify-content:space-between;
}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new {}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .newimg {margin-bottom:15px;}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .newimg a {}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .newtxt {}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .newtxt .name {}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .newtxt .name a {font-size:0.94rem;}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .newtxt .price {
    margin:5px 0; font-size:0.81rem; color:#aaa; text-decoration: line-through;
}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .newtxt .saleprice {font-size:0.81rem; font-weight:600}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .newtxt .saleprice .sale {
    color:#FF0000; font-size:0.81rem; margin-left:10px;
}


/* new부분 끝================================================================= */
main .md_wrap {
    width:1500px; margin:0 auto;
}
main .md_wrap .md_title {
    display:flex; justify-content:space-between;
    align-items:center;
}
main .md_wrap .md_title h2 {font-size:2.50rem; font-weight:700; margin-bottom:15px;}
main .md_wrap .md_title .mdmoretab {font-size:0.88rem;}
main .md_wrap .md_title .mdmoretab img {
    width:22px; height:22px;
    margin-left:5px; position:relative; top:5px;
}
main .md_wrap ul {
    margin-top:50px;
    display:flex; justify-content:space-between;
}
main .md_wrap ul li {width:calc((100% - (30px * 2)) / 3);}
main .md_wrap ul li .mdbg {
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:267px;  
    position:relative;
}
main .md_wrap ul li .mdbg::after {
    content:''; display:block; position:absolute; left:0; top:0; width:100%; height:100%;
    background:linear-gradient(transparent,rgba(0, 0, 0, 0.8));
    z-index:300;
}
/* after에 그라디언트 줄때는 너비높이값 주기! 부모에 position:relative도 잊지말고 주기! */

main .md_wrap ul li .mdbg .mdtitle {}
main .md_wrap ul li .mdbg .mdtitle a {
    z-index:400;
    font-size:1.38rem; font-weight:800; color:#fff;
    position:relative; top:222px; left:20px;
}
main .md_wrap ul li .bg1 {background-image:url(../images/mdbg1.png);}
main .md_wrap ul li .bg2 {background-image:url(../images/mdbg2.png);}
main .md_wrap ul li .bg3 {background-image:url(../images/mdbg3.png);}
main .md_wrap ul li .contents {margin-top:30px;}
main .md_wrap ul li .contents .product {
    display:flex; align-items:center;
}

main .md_wrap ul li .contents .md2,
main .md_wrap ul li .contents .md5, 
main .md_wrap ul li .contents .md8 {margin:25px 0;}

main .md_wrap ul li .contents .product a {}
main .md_wrap ul li .contents .product a img {width:200px;height:150px;}
main .md_wrap ul li .contents .product .mddetails {margin-left:20px;}
main .md_wrap ul li .contents .product .mddetails .name a {font-size:0.94rem;}
main .md_wrap ul li .contents .product .mddetails .price {
    margin:10px 0; font-size:0.81rem; color:#aaa; text-decoration: line-through;
}
main .md_wrap ul li .contents .product .mddetails .saleprice {
    font-size:0.81rem; font-weight:600;
}
main .md_wrap ul li .contents .product .mddetails .saleprice .sale {
    color:#FF0000; font-size:0.81rem; margin-left:10px;
}



main .adbnr1,
main .adbnr2 {margin:160px 0;}
main .adbnr1 img,
main .adbnr2 img {}
/* 광고배너1/2끝-============= */
main .hightop_wrap {
    width:1500px; margin:0 auto;
    display:flex; justify-content:space-between;
    align-items:center;
    position:relative;
}
main .hightop_wrap .hightop_top {display:flex; justify-content:space-between;}
main .hightop_wrap .hightop_top .hightitle {
    width:500px; height:650px;
    background-image:url(../images/hightopbg.jpg);
    background-size:cover;
    background-position:center;
    padding:0 10px;
}
main .hightop_wrap .hightop_top .hightitle h3 {font-size:2.50rem; font-weight:800; letter-spacing:-0.04rem;}
main .hightop_wrap .hightop_top .hightitle > p {
    float:right;
    font-size:0.94rem; font-weight:500;letter-spacing:-0.02rem;
}

/* 하이탑스와이퍼부분 */
main .hightop_wrap .hightop_swiper {
    width:960px; height:510px; margin:0 auto; 
}
main .hightop_wrap .hightop_swiper .swiper-wrapper {}
main .hightop_wrap .hightop_swiper .swiper-wrapper .swiper-slide {}
main .hightop_wrap .hightop_swiper .swiper-wrapper .swiper-slide a img {margin-bottom:20px;}
main .hightop_wrap .hightop_swiper .swiper-wrapper .swiper-slide .name {margin-bottom:10px;}
main .hightop_wrap .hightop_swiper .swiper-wrapper .swiper-slide .name a {font-size:0.94rem; }
main .hightop_wrap .hightop_swiper .swiper-wrapper .swiper-slide .saleprice {font-size:0.81rem; font-weight:600;}
/* 더보기탭이랑 스크롤====================================================== */
main .hightop_wrap .hightop_swiper .swiper-scrollbar {
    width:900px; height:1.5px; background-color:#d9d9d9;
}

main .moretab {position:relative; top:-615px; right:-1620px;}
main .moretab a {font-size:0.88rem;}
main .moretab a img {
    width:22px; height:22px;
    position:relative; top:5px;
    margin-left:5px;
}
main .hightop_wrap .swiper-scrollbtn {
    display:flex; align-items:center;
    position:absolute; bottom:40px; left:520px;
}
main .hightop_wrap .swiper-scrollbtn a {}
main .hightop_wrap .swiper-scrollbtn a img {width:20px; height:20px;}


/* 하이탑 끝========================================= */
main .runstar {
    background-color:#f5f5f5;
    width:1920px;
    display:flex; align-items:center;
    text-align:center;
    margin:160px 0;
}
main .runstar a {margin-right:22px;}
main .runstar a img {}
main .runstar .runcontents {}
main .runstar .runcontents .runtitle {
    font-size:2.50rem;
    font-weight:800; line-height:1.5; letter-spacing:-0.05rem;
}
main .runstar .runcontents .runtitle span {font-size:3.75rem; font-weight:800; color:#FB4A82;}
main .runstar .runcontents .runproduct {
    display:flex;
    margin:45px 0;
}
main .runstar .runcontents .runproduct li {margin-left:15px;}
main .runstar .runcontents .runproduct li:first-child{margin:0;}
main .runstar .runcontents .runproduct li a {}
main .runstar .runcontents .runproduct li a img {
    border-radius:50%;
    width:100%; transition:transform 0.5s;
}
main .runstar .runcontents .runproduct li a img:hover {transform:rotate(-10deg);}
main .runstar .runcontents .runproduct li p {font-size:0.81rem; margin:10px 0;}
main .runstar .runcontents .runproduct li .namenumber {margin:0;}
main .runstar .runcontents p {font-size:1.0rem; font-weight:500;}
main .runstar .runcontents p em {font-size:1.0rem; font-weight:500;}
main .runstar .runcontents .more a {
    display:inline-block;
    color:#fff; padding:5px 20px; background-color:#000;
    margin-top:45px;
}
/* 런스타끝===================================== */

main .color_all {
    width:1500px; margin:0 auto;
}
main .color_all .color_title {margin-bottom:50px;}
main .color_all .color_title h2 {font-size:2.50rem; font-weight:700; margin-bottom:15px;}
main .color_all .color_title h2 span {color:#FF83AA; font-size:2.50rem; font-weight:700; margin-bottom:15px;}
main .color_all .color_title h2 a {margin-left:15px; position:relative; top:5px;}
main .color_all .color_title h2 a img{}
main .color_all .color_wrap {display:flex; justify-content:space-between;}
main .color_all .color_wrap img {}
main .color_all .color_wrap .color_contents {margin:0 35px;}
main .color_all .color_wrap .color_contents .color1 {display:flex;}
/* 컬러첫줄 */
main .color_all .color_wrap .color_contents .color1 .color {
    margin-bottom:28px; width:200px;
}
main .color_all .color_wrap .color_contents .color1 .color .colorimg {}
main .color_all .color_wrap .color_contents .color1 .color .colorimg a {}
main .color_all .color_wrap .color_contents .color1 .color .colorimg a img {width:100%;}
main .color_all .color_wrap .color_contents .color1 .color .colortxt {}
main .color_all .color_wrap .color_contents .color1 .color .colortxt .name a {font-size:0.94rem;}
main .color_all .color_wrap .color_contents .color1 .color .colortxt .price {
    margin:10px 0; font-size:0.81rem; color:#aaa; text-decoration: line-through;
}
main .color_all .color_wrap .color_contents .color1 .color .colortxt .saleprice {
    font-size:0.81rem; font-weight:600
}
main .color_all .color_wrap .color_contents .color1 .color .colortxt .saleprice .sale {
    color:#FF0000; font-size:0.81rem; margin-left:10px;
}
/* 컬러두번째줄 */
main .color_all .color_wrap .color_contents .color2 {display:flex;}
main .color_all .color_wrap .color_contents .color2 .color {width:200px;}
main .color_all .color_wrap .color_contents .color2 .color .colorimg {}
main .color_all .color_wrap .color_contents .color2 .color .colorimg a {}
main .color_all .color_wrap .color_contents .color2 .color .colorimg a img {width:100%;}
main .color_all .color_wrap .color_contents .color2 .color .colortxt {}
main .color_all .color_wrap .color_contents .color2 .color .colortxt .name a {font-size:0.94rem;}
main .color_all .color_wrap .color_contents .color2 .color .colortxt .price {
    margin:10px 0; font-size:0.81rem; color:#aaa; text-decoration: line-through;
}
main .color_all .color_wrap .color_contents .color2 .color .colortxt .saleprice {
    font-size:0.81rem; font-weight:600
}
main .color_all .color_wrap .color_contents .color2 .color .colortxt .saleprice .sale {
    color:#FF0000; font-size:0.81rem; margin-left:10px;
}
/* 공통선택자 */
main .color_all .color_wrap .color_contents .color1 .one,
main .color_all .color_wrap .color_contents .color2 .three  {margin-right:30px;}
/* color 끝====================================================================*/

main .rowtop_wrap {
    width:1500px; margin:0 auto;
    display:flex; justify-content:space-between;
    align-items:center;
    position:relative;
}
main .rowtop_wrap .rowtop_top {display:flex; justify-content:space-between;}
main .rowtop_wrap .rowtop_top .rowtitle {
    width:500px; height:650px;
    background-image:url(../images/rowtopbg.jpg);
    background-size:cover;
    background-position:center;
    padding:0 10px;
}
main .rowtop_wrap .rowtop_top .rowtitle h3 {font-size:2.50rem; font-weight:800; letter-spacing:-0.04rem;}
main .rowtop_wrap .rowtop_top .rowtitle > p {
    margin-top:20px;
    font-size:0.94rem; font-weight:500;letter-spacing:-0.02rem;
}

/* 로우탑스와이퍼부분 */
main .rowtop_wrap .rowtop_swiper {
    width:960px; height:510px; margin:0 auto; 
}
main .rowtop_wrap .rowtop_swiper .swiper-wrapper {}
main .rowtop_wrap .rowtop_swiper .swiper-wrapper .swiper-slide {}
main .rowtop_wrap .rowtop_swiper .swiper-wrapper .swiper-slide a img {margin-bottom:20px;}
main .rowtop_wrap .rowtop_swiper .swiper-wrapper .swiper-slide .name {margin-bottom:10px;}
main .rowtop_wrap .rowtop_swiper .swiper-wrapper .swiper-slide .name a {font-size:0.94rem; }
main .rowtop_wrap .rowtop_swiper .swiper-wrapper .swiper-slide .saleprice {font-size:0.81rem; font-weight:600;}
/* 더보기탭이랑 스크롤====================================================== */
main .rowtop_wrap .rowtop_swiper .swiper-scrollbar {
    width:900px; height:1.5px; background-color:#d9d9d9;
}

main .moretab {position:relative; top:-615px; right:-1620px;}
main .moretab a {font-size:0.88rem;}
main .moretab a img {
    width:22px; height:22px;
    position:relative; top:5px;
    margin-left:5px;
}
main .rowtop_wrap .swiper-scrollbtn {
    display:flex; align-items:center;
    position:absolute; bottom:40px; left:520px;
}
main .rowtop_wrap .swiper-scrollbtn a {}
main .rowtop_wrap .swiper-scrollbtn a img {width:20px; height:20px;} 

/* 로우탑 끝=================================================================== */

main .limited_wrap {
    text-align:center; width:1920px; margin:160px 0;
    /* position:relative; left:-205px;*/
}
main .limited_wrap h2 {font-size:2.50rem; font-weight:700; margin-bottom:50px;}
main .limited_wrap ul {display:flex; justify-content:space-around;}
main .limited_wrap ul li {
    width:550px; height:700px; padding:50px;
    background-size:cover; background-position:center;
}
main .limited_wrap ul li:nth-child(1) {
    background-image:url(../images/limited1.jpg);
    background-size:cover; background-position:center;
}
main .limited_wrap ul li:nth-child(2) {
    background-image:url(../images/limited2.jpg);
    background-size:cover; background-position:center;
}
main .limited_wrap ul li:nth-child(3) {
    background-image:url(../images/limited3.jpg);
    background-size:cover; background-position:center;
}
main .limited_wrap ul li a {position: relative; top:500px;}
main .limited_wrap ul li a p {
    color:#c4c4c4; line-height:1.5; text-align:center; margin-bottom:20px;
}
main .limited_wrap ul li a p:last-child {margin:0;}
main .limited_wrap ul li a p em {font-size:1.75rem; font-weight:600; color:#fff;}
/* 리미티드끝=============================================================================== */

footer {
    background-color:#000;
    width:1920px; padding:30px 80px;
}
footer .top {
    display:flex; justify-content:space-between;
    margin-bottom:80px;
}
footer .top .link {}
footer .top .link a {
    color:#fff; margin-right:30px;
    font-size:0.88rem;
}
footer .top .link a:last-child {margin:0;}
footer .top .sns {}
footer .top .sns a {margin-right:20px;}
footer .top .sns a:last-child {margin:0;}
footer .top .sns a img {}
footer .bottom {
    display:flex; color:#fff; justify-content:space-between;
}
footer .bottom .bottom_left {}
footer .bottom .bottom_left p {
    margin-bottom:30px; 
    font-size:0.88rem;
}
footer .bottom .bottom_left p em {font-weight:700;}
footer .bottom .bottom_left .cs_tab {display:flex;}
footer .bottom .bottom_left .cs_tab p {}
footer .bottom .bottom_left .cs_tab p a {
    color:#fff; font-size:0.88rem;
    border:1px solid #fff; padding:10px 20px;
}
footer .bottom .bottom_left .cs_tab p a:first-child {margin-right:25px;}
footer .bottom .bottom_right {}
footer .bottom .bottom_right address {text-align:right;font-size:0.88rem; line-height:1.7;}
/* footer 끝================================= */