main {
    width:1136px; margin:0 auto;
}
/* ==상품경로== */
main .path {
    margin:123px 0 26px 0;
}
main .path a {
    font-size:0.88rem; letter-spacing:-0.02rem;
}
main .path span {}
main .product_container {
    display:flex; justify-content:space-between;
}
/* ===상품이미지===== */
main .product_container .photo {
    width:630px;
    display:flex; justify-content:space-between;
}
main .product_container .photo .thumnail {}
main .product_container .photo .thumnail a {
    margin-bottom:10px;
    width:56px; display:block; border-radius:5px; overflow:hidden;
}
main .product_container .photo .thumnail a:last-child {margin:0;}
main .product_container .photo .thumnail a img {width:100%;}
main .product_container .photo .big {
    width:559px; border-radius:5px; overflow:hidden;
    margin-left:15px;
}
main .product_container .photo .big img {width:100%;}
/* ★★★★★★상품 미리보기 이미지(js 클래스 전용)★★★★★★★★ */
/* thumnail a에 마우스를 올렸을 때 적용되는 테두리 디자인 */
main .product_container .photo .thumnail a.active {border:3px solid #59AFFF;}



/* 이미지는 100%로 처리하고 그 부모에다 이미지 넓이값을 넓이값으로 주기 */
/* ==오른쪽내용 시작=== */
main .product_container .contents {
    width:calc(100% - 654px);
}
main .product_container .contents .brand {
    font-size:0.88rem; letter-spacing:-0.02rem;
}
main .product_container .contents h1 {
    margin:25px 0;
    font-size:1.38rem; letter-spacing:-0.02rem;
}
main .product_container .contents .review {
    font-size:0.81rem; letter-spacing:-0.02rem;
}
/* 할인 전 후 가격 */
main .product_container .contents .price_before {
    margin:25px 0;
}
main .product_container .contents .price_before .sale {}
main .product_container .contents .price_before .price {
    color:#777; text-decoration:line-through;
}
main .product_container .contents .price_result {
    font-size:2.00rem; letter-spacing:-0.02rem;
}
main .product_container .contents .price_result em {
    font-weight:700; font-size:2.00rem; letter-spacing:-0.02rem;
}
/* =====혜택/배송======= */
main .product_container .contents dl {
    display:flex; flex-flow:row wrap;
}
main .product_container .contents dl dt {width:80px; padding:15px 0;}
main .product_container .contents dl dd {
    width:calc(100% - 80px);
    padding:15px 0;
    display:flex; flex-flow:column nowrap;
}
main .product_container .contents dl dd > * {margin-bottom:10px;}
main .product_container .contents dl dd > em {font-weight:700;}
main .product_container .contents dl dd > span {}
main .product_container .contents dl dd .ship_schedule {
    padding:15px 10px; background-color:#eee; border-radius:7px;
}
main .product_container .contents dl dd .ship_schedule em {}
/* ==(ship_schedule 클릭시 열리는 부분) */
/* =====★★★★★★★★★★★배송정보(js 클래스 전용)★★★★★★★★★★★★★★★★★★★★★======== */
/* toggle메소드 활용 교차 클래스 생성 목적 */
main .product_container .contents dl dd .hide {display:none !important;}  
/*  hide = schedule_open !important:강제우선순위설정*/
/* js관계없이 정적 css shchedule_open(아래) */
main .product_container .contents dl dd .schedule_open {
    padding:15px 10px; background-color:#eee; border-radius:7px;
     border-top:1px solid #c5c5c5;
     display:block; 
}
main .product_container .contents dl dd .schedule_open > * {display:block;}
main .product_container .contents dl dd .schedule_open em {
    border-bottom:1px dotted #c5c5c5; 
}
main .product_container .contents dl dd .schedule_open em span {font-weight:700;}
main .product_container .contents dl dd .schedule_open em span:last-child {float:right;}
main .product_container .contents dl dd .schedule_open span {
    margin-top:5px;
    line-height:1.5;
}
/* =====옵션선택====== */
main .product_container .contents .order_contents {
}
main .product_container .contents .order_contents .select_contents {
}
main .product_container .contents .order_contents .select_contents select {
    width:100%; height:44px;
    padding:10px 17px;  font-size:0.88rem; letter-spacing:-0.02rem;
    border:1px solid #59AFFF; border-radius:5px;
}
main .product_container .contents .order_contents .select_contents select option {
   
}

main .product_container .contents .order_contents .select_contents select#color {
    background-image:url(../images/color_arrow.png);
    background-position:right;
    background-repeat:no-repeat;
}
main .product_container .contents .order_contents .select_contents select#color option {}
main .product_container .contents .order_contents .select_contents select#size {
    background-image:url(../images/size_arrow.png);
    background-position:right;
    background-repeat:no-repeat;
    margin:25px 0;
}
main .product_container .contents .order_contents .select_contents select#size option {}
/* ==주문 개수 설정 */
main .product_container .contents .order_contents .num {float:right;}
main .product_container .contents .order_contents .num #product_num {
    border:1px solid #ccc; width:50px; border-radius: 5px; margin-left:10px;
}
main .product_container .contents .order_contents .num #minus {}
main .product_container .contents .order_contents .num #plus {}
main .product_container .contents .order_contents .num button {
    background-color:#eee; width:25px; height:25px; border-radius:5px;
}
/* ==주문금액== */
main .product_container .contents .order_contents .order_price {
    display:flex; justify-content:space-between; margin-bottom:25px;
}
main .product_container .contents .order_contents .order_price h2 {font-size:0.88rem; letter-spacing:-0.02rem;}
main .product_container .contents .order_contents .order_price p {
    font-size:1.06rem; font-weight:700; letter-spacing:-0.02rem;
}
main .product_container .contents .order_contents .order_price p .price {
    font-size:1.25rem; font-weight:700; letter-spacing:-0.02rem;
}
/* 장바구니/구매 버튼== */
main .product_container .contents .order_contents .order_btn {
    display:flex; justify-content:space-between;
}
main .product_container .contents .order_contents .order_btn button {
    
    padding:20px 0; border-radius:5px;
    width:calc(100% - 10px);
}
main .product_container .contents .order_contents .order_btn #cart_btn {
    background-color:#fff; color:#59AFFF; border: 1px solid #59AFFF;
}
main .product_container .contents .order_contents .order_btn #buy_btn {
    background-color:#59AFFF; color:#fff; border: 1px solid #fff;
}
/* 장바구니 클릭 시 실행되는 팝업 */
main .cart_open_bg {
    background-color:rgba(0,0,0,0.6);
    position:fixed; left:0; top:0;
    width:100%; height:100vh;
}
main .cart_open_bg .cart_container {
    width:700px; background-color:#fff;
    margin:200px auto 0;
    text-align:center; padding:50px;
    
}
main .cart_open_bg .cart_container p {
    font-weight:500; line-height:1.5; letter-spacing:-0.02rem;
}
main .cart_open_bg .cart_container .link {
    margin-top:50px; 
}
main .cart_open_bg .cart_container .link a {
    
    margin-left:20px; padding:10px; color:#fff;
    background-color:#59AFFF; border-radius:10px;
    border:1px solid #ccc; 
}
main .cart_open_bg .cart_container .link a:nth-child(1) {
    margin:0;
    background-color:#fff; color:#aaa; border:1px solid #ccc;
}
main .cart_open_bg .cart_container .link a:nth-child(2) {}